
    <div class="row chatbar-content">
        <div class="col-xs-12">
            <ul class="list-group">
                <li class="list-group-item post" *ngFor="let post of posts">
                    <span class="post-author">{{ post.author }}</span>
                    <span class="post-date">{{ post.date }}</span>
                    <span class="post-message">{{ post.message }}</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="chatbar-input">
        <input class="form-control chatbar-input__username" [(ngModel)]="username" placeholder="Benutzername">
        <input class="form-control chatbar-input__message" (keyup.enter)="onSubmit(message, username)" [(ngModel)]="message" placeholder="Nachricht">
    </div>

