.list-group{
    margin-bottom: 15px;
}
textarea.form-control {
    min-height: 40px;
    height: auto;
}
.chatbar-input{
    position: fixed;
    bottom: 40px;
    left: 0px;
    right: 0px;
    width: 100%;
    padding: 15px;
    border-top: 1px solid #d0d0d0;
    background: white;

    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;

    &__username{
        width: 200px;
        flex-shrink: 0;
    }
    &__message{
        flex-grow: 1;
        margin-left: 15px;
    }
    button{
        margin-left: 15px;
    }
}

